
.floating-button {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    background-color: white;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.floating-button.active {
    background-color: orangered;
    color: white;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}