.modal-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    align-items: center;
    z-index: 1000;
}
