.information-float-section{
    position: absolute;
    display: none;
    justify-content: center;
    right: auto;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 2%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* 은은한 하얀색 (약간 투명) */
    border-top-left-radius: 30px; /* 상단 왼쪽 라운드 */
    border-top-right-radius: 30px; /* 상단 오른쪽 라운드 */
    backdrop-filter: blur(10px); /* 유리 느낌 추가 (옵션) */

}


.information-float-section.expanded{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: auto;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 33%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* 부드럽고 자연스러운 그림자 */
    background-color: rgba(255, 255, 255, 0.9); /* 은은한 하얀색 (약간 투명) */
    border-top-left-radius: 30px; /* 상단 왼쪽 라운드 */
    border-top-right-radius: 30px; /* 상단 오른쪽 라운드 */
    backdrop-filter: blur(10px); /* 유리 느낌 추가 (옵션) */
}

.drag-section{
    display: flex;
    justify-content: center;
}

.info-section{
    display: flex;
    justify-content: flex-start;
    height: 75%;
}

.info-text{
    width: 80%;
    padding: 10px 16px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8rem;
    gap: 7px;
}

.main-text-box{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.place-name{
    font-size: 0.9rem;
    font-weight: 600;

}
.place-category{
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    color: #888888;
}

.info-title{
    font-size: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sub-text-p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px;
    gap: 6px;
}

.address-img{
    background-image: url("/public/img/icons8-위치-64.png");
    display: block;
    width: 10px;
    height: 15px;
    margin-right: 7px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.phone-img{
    background-image: url("/public/img/icons8-전화-48.png");
    display: block;
    width: 10px;
    height: 15px;
    margin-right: 7px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}


.media-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: auto;
    margin-right: 15px;
}
.media-thumbnail{
    border-radius: 8px;
    height: 50%;
}


.additional-info-section{
}

.detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 37px;
    margin: 0 auto 9px;
    border-radius: 8px;
    background-color: #F4A460;
    /*background-color: #D3D3D3;*/
    cursor: pointer;
}

.detail-text {
    font-size: 14px;
    color: black;
}

.detail-img {
    width: 12px;
    height: 15px;
    /*background-image: url("../../../../public/img/down-arrow.png");*/
    background-image: url("/public/img/down-arrow.png");
    margin-right: 7px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 5px;

}


