.map-container {
    background-color: white;
    height: 46%;
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    position: relative; /* To position zoom-indicator-fixed */
}

.map-container.expanded {
    background-color: white;
    height: 80%;
    flex-direction: column;
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center;
    position: relative; /* To position zoom-indicator-fixed */
}

.map-round {
    background-color: white; /* 배경 흰색 */
    border-radius: 20px; /* 둥근 테두리 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* 부드럽고 자연스러운 그림자 */

    overflow: hidden; /* 내용이 둥근 테두리를 벗어나지 않도록 */
    width: 90%;
    height: 94%;

    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    padding: 10px; /* 내부 여백 */
    position: relative; /* Needed to position child elements */

}
.kakao-map{
    border-radius: 20px; /* 둥근 테두리 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* 부드럽고 자연스러운 그림자 */
}
